body {
    padding-top: 75px;
}

.component a {
    text-decoration: none;
    color: black;
}

.component .error {
    color: red;
}

.menu {
    margin: 10px;
    padding: 5px;
    border: 1px solid lightgray;
}

.menu a {
    margin: 5px;
    text-decoration: none;
    color: gray;
}

.logoFratcher {
    height: 51px;
    margin-top: -15px;
}

.warnText {
    padding: 15px;
}

.textEllipsis {
    text-align: justify;
    text-overflow: ellipsis;
    width: 83%;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.dateRight {
    position: relative;
    top: -17px;
}

.registerBtn {
    margin-left: 15px;
}

.changeBtn {
    float: right;
    margin-top: 18px;
}

.textBoxMargin {
    margin-right: 10px;
    margin-left: 10px;
}