*.iml
.idea/
target
test

*.mv.db
*.trace.db

# Generated webpack, npm and resource files.
src/main/frontend/node_modules
src/main/frontend/node
src/main/frontend/etc
src/main/frontend/bundle.*
src/main/resources/public
